# Ignore les répertoires
**/__pycache__/
/Documentation/
# Ignore les fichiers ou répertoires
.gitignore
*.swp
__init__.*
*.py[oc]
*.pdf
# Ignore les liens
ImpPapy3.py
# A l'exception du fichier foo.txt
# !foo.txt

